* {
    font-family: 'Oswald';

    --catalogueImageWidth: 75px;
    --catalogueWidth: 200px;
    --catalogueHeight: 200px;
    --passwordWidth: 25px;
}

body {
	background-color: rgb(79, 124, 145);
	background-image: url(./MATERIAL/marangoni.png);
	background-repeat: no-repeat;
}

.font-48 {
    font-size: 48px;
}

.sectionTitle {
    text-align: center;
    font-weight: bold;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--catalogueWidth), 1fr));
    grid-template-rows: repeat(auto-fill, minmax(var(--catalogueHeight), 1fr));
    grid-auto-columns: minmax(var(--catalogueWidth), 1fr);
    grid-auto-rows: minmax(var(--catalogueHeight), 1fr);
    gap: 14px;
}

/* #region Search bar */
.search {
	--active-width: 25vw;
	left: calc(50% - var(--active-width)/2);
	width: 60px;
	height: 60px;
	transform: 0.5s;
	background: #fff;
	overflow: hidden;
	position: relative;
	border-radius: 60px;
	box-shadow: 0 0 0 0 5px #000;
}

.search.active {
	width: var(--active-width);
}

.search .icon {
	top: 0;
	left: 0;
	width: 60px;
	height: 60px;
	display: flex;
	z-index: 1000;
	cursor: pointer;
	position: absolute;
	background: #fff;
	border-radius: 60px;
	align-items: center;
	justify-content: center;
}

.search .icon:before {
	content: "";
	width: 15px;
	height: 15px;
	position: absolute;
	border-radius: 50%;
	border: 3px solid #000;
	transform: translate(-4px, -4px);
}

.search .icon:after {
	content: "";
	width: 3px;
	height: 12px;
	position: absolute;
	background: #000c;
	transform: translate(6px, 6px) rotate(315deg);
}

.search .input {
	left: 60px;
	width: 300px;
	height: 60px;
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
}

.search .input input {
	top: 0;
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	font-size: 18px;
	position: absolute;
	justify-content: center;
}

.clear {
	top: 50%;
	right: 15px;
	width: 15px;
	height: 15px;
	display: flex;
	cursor: pointer;
	background: #ff0;
	position: relative;
	align-items: center;
	justify-content: center;
	transform: translateY(-50%);
}

.clear:before {
	width: 1px;
	height: 15px;
	content: "";
	position: absolute;
	background: #999;
	transform: rotate(45deg);
}

.clear:after {
	width: 1px;
	height: 15px;
	content: "";
	position: absolute;
	background: #999;
	transform: rotate(315deg);
}

/* #endregion */

/* #region Catalogue styling */
.catalogue {
    position: relative;
    background-color: #d2d2d2;
    border: 1px solid black;
}

.catalogue:hover {
	box-shadow: 5px 5px 10px white;
	border: 1px solid white;
}

.catalogueName {
    text-align: center;
}

.catalogueImage {
    position: absolute;
    top: 25%;
    left: calc(50% - var(--catalogueImageWidth) / 2);
    width: var(--catalogueImageWidth);
}

.password {
    position: absolute;
    top: 75%;
    left: 10%;
    width: var(--passwordWidth);
}

.password .required:hover {
    cursor: pointer;
}

.hidden {
	display: none;
}

/* #endregion */